---
import Header from "@/components/layout/Header.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <Header
    title="$ lancher"
    subtitle="A minimal, local project-template manager written in Go."
    accessibleName="lancher - Home"
  />

  <section aria-labelledby="intro-heading">
    <h2 class="sr-only" id="intro-heading">Introduction</h2>
    <p class="mt-6 mb-16 text-[1.1rem] leading-[1.8] text-[#ccc]">
      Working in progress...
    </p>
  </section>
</Layout>
